:root {
    --transparent: transparent; /* Float */
    --none: none;
}

body {
    background: #4d4d4d; 
    background-attachment: fixed;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

.container, fieldset, #form-checkbox, #form-item {
    display: flex;
}

.container, fieldset, #form-item {
    align-items: center;
}

.container, fieldset {
    flex-direction: column;
}

.container {
    margin-top: 10%;
}

form {
    padding: 15px;
    margin-bottom: 4%;
}

fieldset {
    width: 350px;
    border: 0;
}

fieldset, button {
    border: 0;
}

h1 {
    text-align: center;
    font-size: 1em;
}

.float:nth-child(2), .float:nth-child(3) {
    margin-top: 10%;
}

.float, .float input, #form-item {
    width: 100%;
}

.float {
    position: relative;
    padding-top: 10px;
}
  
.float input {
    font-size: larger;
    background-color: var(--transparent);
    height: 35px;
    outline: var(--none);
    border: 0px var(--transparent);
    border-bottom: 1px solid #fff;
    transition: all .2s ease-out;
    margin-top: 5%;
}

.float input:-webkit-autofill {
    box-shadow: 0 0 0 30px #485563 inset;
}

.float input::placeholder {
    color: var(--transparent);
}

.float label {
    pointer-events: var(--none);
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 30px;
    font-size: large;
    transition: all .2s ease-out;
    transform: scale(1);
    color: rgba(234, 234, 234, 0.789);
}

.float input:focus + label, 
.float input:not(:placeholder-shown) + label {
    font-size: x-large;
    left: -11px;
    transform: scale(.8);
    margin-top: 5px;
    color: rgba(234, 234, 234, 0.789);
}

.float input::-webkit-inner-spin-button, 
.float input::-webkit-outer-spin-button {
    appearance: var(--none);
}

#form-item {
    justify-content: space-between;
    margin-top: 12%;
}

#form-checkbox {
    width: 60%;
}

#form-checkbox p {
    margin-left: 7%;
}

input[type=checkbox] {
    height: 15px;
    width: 15px;
    accent-color: #485563;
    background-color: #4855634f;
    appearance: var(--none);
    border: 1px solid #fff;
    border-radius: 3px;
}

input[type=checkbox]:checked {
    appearance: auto;
}

input[type=checkbox], button {
    cursor: pointer;
}

button {
    width: 150px;
    height: 40px;
    font-size: large;
    box-shadow: 0px 0px 36px 2px rgba(0,0,0,0.24);
    transition: ease-in-out .2s;
    background-color: #000000;
    border-radius: 10px;
}

button:hover {
    transform: scale(1.1);
}

a {
    text-decoration: var(--none);
}